.intro{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000011c8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro > div{
    position: relative;
    width: 50%;
    background: var(--blue-dark);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 0px 30px rgba(32, 31, 31, 0.1), 0px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 50px rgba(8, 8, 8, 0.1);
    padding: 2em;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.intro button{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: absolute;
    right: -0.5em;
    top: -0.5em;
    background: var(--orange);
    color: var(--blue-dark);
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}
.intro button:hover{
    transform: scale(1.2);
}
.intro h1{
    color: var(--font-clr);
    font-size: 16px;
    margin-bottom: 1em;
}
.intro p{
    position: relative;
    color: var(--font-clr);
    font-size: 12px;
    line-height: 1.5em;
}
.intro p::before{
    content: "";
    position: absolute;
    left: -12px;
    top: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--font-clr);
}
.intro span{
    color: var(--orange);
}


@media only screen and (max-width: 480px){
    .intro > div{
        width: 80%;
    }
}