.reviews{
    width: 100%;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: var(--bg);
}


.reviews-top{
    padding: 0 8em;
}

.reviews-content-wrapper{
    display: flex;
}
.reviews-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0 2em 0 8em;
}
.reviews-content > div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.reviews-content > div h3{
    font-weight: 500;
    font-size: 3rem;
    color: black;
    line-height: 1em;
    margin: 0;
}
.reviews-content > div small{
    font-size: 1.5rem;
    color: rgb(40, 40, 40);
}
.reviews-content p{
    color: rgb(40, 40, 40);
    font-size: 1.5rem;
}
.reviews-content button{
    width: max-content;
    background: orange;
    color: black;
    border: none;
    font-size: 1rem;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}


.reviews-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
    clip-path:polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}
.reviews-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 980px){
    .reviews{
        flex-direction: column;
        height: max-content;
    }

    .reviews-top{
        padding: 0 2em;
    }

    .reviews-content-wrapper{
        flex-direction: column;
        gap: 2em;
    }
    .reviews-content{
        width: 100%;
        padding: 2em;
    }
    .reviews-content > div h3{
        font-size: 2.5rem;
    }
    .reviews-content p{
        font-size: 1rem;
    }
    .reviews-img{
        width: 100%;
        height: 50vh;
    }
    .reviews-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 480px){
    .reviews{
        flex-direction: column;
        height: max-content;
    }

    .reviews-top{
        padding: 0 1em;
    }

    .reviews-content-wrapper{
        flex-direction: column;
        gap: 2em;
    }
    .reviews-content{
        width: 100%;
        padding: 1em;
    }
    .reviews-content > div h3{
        font-size: 2.5rem;
    }
    .reviews-content p{
        font-size: 1rem;
    }
    .reviews-img{
        width: 100%;
        height: 50vh;
    }
}

@media screen and (min-width: 1440px) {
    
}