.reviews{
    width: 100%;
    padding: 4em 8em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: var(--bg);
}
.reviews h2{
    font-weight: 500;
    font-size: 3rem;
    color: black;
    line-height: 1em;
    margin: 0;
}
.reviews p{
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--font-light);
    width: 100%;
}
.reviews p span{
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap;
}


.reviews-cards{
    width: 100%;
    display: flex;
    gap: 1em;
}
.card{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-radius: 10px;
    background: rgb(228, 228, 228);
}
.card:nth-child(1){
    background: var(--orng);
}
.card:nth-child(2){
    background: var(--blue);
}
.pin{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--bg);
}
.card-top{
    display: flex;
    align-items: center;
    gap: 1em;
}
.card-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rating img{
    width: 100%;
    object-fit: contain;
}

.card p{
    font-size: 1.5rem;
    color: white;
}
.card:nth-child(2) p, .card:nth-child(2) small{
    color: white;
}
.card small{
    color: white;
    font-size: 1rem;
    line-height: 1.5em;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 980px){
    .reviews{
        flex-direction: column;
        height: max-content;
        padding: 4em 2em;
    }
    .reviews p{
        width: 100%;
        font-size: 1.2rem;
    }
    /* .reviews-cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
    } */
}

@media only screen and (max-width: 480px){
    .reviews{
        flex-direction: column;
        height: max-content;
        padding: 4em 1em;
    }
    .reviews p{
        width: 100%;
        font-size: 1.2rem;
    }
    .reviews-cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .reviews{
        padding: 8em;
    }
    .reviews p{
        font-size: 2rem;
    }
    .card-img{
        height: 500px;
    }
    .card p{
        font-size: 2.5rem;
    }
    .card p span{
        font-size: 1.5rem;
    }
    .card small{
        font-size: 1.5rem;
    }
}