.terms{
    background: var(--bg);
}
.terms-wrapper{
    padding: 8em 8em 4em 8em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.terms-top{
    background: var(--blue-dark);
    padding: 2em;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.terms-top h1, p{
    color: white;
}
.terms-top p{
    line-height: 1.5em;
}

.terms-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.terms-content h2{
    font-size: 1.2rem;
    color: var(--font-clr);
    font-weight: 500;
}
.terms-content p{
    color: var(--font-light);
    line-height: 1.5em;
}
.terms-content li{
    list-style-type:decimal;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 980px){
    .terms-wrapper{
        padding: 8em 1em 1em 1em;
    }
}

@media only screen and (max-width: 480px){
    .terms-wrapper{
        padding: 8em 1em 1em 1em;
    }
}

@media screen and (min-width: 1440px) {
    
}