.home{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}


/* Hero */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    background: transparent;
    overflow: hidden;
}
.hero-content{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 4em 8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1em;
}
.hero h1{
    position: relative;
    color: var(--font-light);
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  text-transform: uppercase;
}
.hero h1 span{
    font-weight: 600;
}
.hero p{
    width: 60%;
    color: var(--font-clr);
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
}
.hero-content > div{
    display: flex;
    align-items: center;
    gap: 1em;
}

/* Awards section */
.awards{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.awards-img, .awards-div{
    width: 2em;
    height: 2em;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
.awards-img{
    z-index: 4;
}
.awards-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#awards-div-1{
    z-index: 3;
    background: var(--blue);
    transform: translateX(-2.5em);
}
#awards-div-2{
    z-index: 2;
    background: var(--orng);
    transform: translateX(-5em);
}
#awards-div-3{
    background: var(--grn);
    transform: translateX(-7.5em);
}
.awards small{
    color: var(--font-clr);
    font-weight: 600;
    transform: translateX(-10em);
    font-size: 0.8rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.award{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(25%);
    width: 100px;
    height: 100px;
}
.award img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.home-sections{
    width: 100%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: white;
}
.home-sections h1{
    color: var(--blue-dark);
    font-size: 5.5rem;
    font-weight: 600;
    transform: translateY(100px);
    opacity: 0;
}
.home-sections p{
    text-transform: uppercase;
    width: 50%;
    color: var(--blue-dark);
    margin-bottom: 1em;
    transform: translateY(100px);
    opacity: 0;
}
.section-1, .section-2, .section-3{
    width: 100%;
    height: 100vh;
    background: black;
    background-size: cover;
}

/* Info */
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    padding: 4em 8em;
}
.info-content{
    display: flex;
    flex-direction: column;
    background: white;
    gap: 2em;
    padding: 4em;
    border-radius: var(--div-radius);
}
#info-dont{
    color: var(--font-light);
    font-weight: 300;
}
.info-content small{
    color: var(--font-light);
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.5em;
    align-self: flex-end;
}
.info-content small span{
    color: var(--blue-dark);
    text-decoration: underline;
}
#info-arrow{
    position: absolute;
    bottom: 0;
    font-size: 5rem;
    animation: moveUpDown 1s infinite alternate;
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px); /* Change the distance of movement as needed */
    }
}


.view-work{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8em;
}


.marquee-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}
.marquee{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.marquee-wrapper span{
    font-size: 5rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 980px){
    .hero > div{
        justify-content: flex-end;
        padding:  2em 4em;
    }
    .hero h1{
        font-size: 4.5rem;
        line-height: 1.1em;
    }
    .hero p{
        width: 100%;
    }

    .info, .pre-projects{
        padding: 2em 4em;
        justify-content: flex-end;
    }
    .info p{
        font-size: 2.5rem;
        line-height: 1em;
        white-space: wrap;
        width: 100%;
    }
    .secondaty-titles{
        font-size: 3rem;
        line-height: 1em;
    }
    .info small{
        width: 100%;
    }

    .view-work{
        padding: 4em 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }

    .marquee-wrapper span{
        font-size: 5rem;
    }
}

@media only screen and (max-width: 480px){
    .hero > div:nth-child(1){
        justify-content: flex-end;
        align-items: flex-start;
        padding: 4em 1em 6em 1em;
    }
    .hero-content-title{
        display: flex;
        flex-direction: column;
    }
    .hero h1{
        font-size: 50px;
        line-height: 55px;
        white-space: wrap;
        text-align: left;
    }
    .hero p{
        width: 100%;
        text-align: left;
        font-size: 19px;
        line-height: 27px;
    }
    .award{
        width: 60px;
        height: 60px;
        right: 1em;
    }

    .info, .pre-projects{
        padding: 4em 0em;
        justify-content: flex-end;
    }
    .info-content{
        padding: 2em;
    }
    .info p{
        font-size: 50px;
        line-height: 55px;
        white-space: wrap;
    }
    .secondaty-titles{
        font-size: 3rem;
        line-height: 1em;
    }
    .info small{
        width: 100%;
    }
    .view-work{
        padding: 4em 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }

    .marquee-wrapper span{
        font-size: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    .hero-content{
        padding: 8em 16em;
    }
    .hero h1{
        font-size: 10rem;
        line-height: 1em;
    }
    .hero p{
        font-size: 1.5rem;
    }
    .awards small{
        font-size: 1rem;
        transform: translateX(-8em);
    }

    .info{
        padding: 8em 16em;
    }
    .info-content{
        padding: 8em;
    }
    .info small{
        font-size: 1.5rem;
    }
}