.home{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.cylinder-image-wrapper{
    width: 3em;
    height: 3em;
    border: 1px solid white;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.427);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cylinder-image-wrapper p{
    color: white;
    font-size: 0.7rem;
}

.home-text{
    width: 25%;
    position: fixed;
    left: 4em;
    bottom: 4em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    user-select: none;
}
.home-text h1{
    font-size: 2rem;
    margin: 0;
    text-align: left;
    line-height: 0.8em;
    color: white;
}
.home-text p{
    text-align: left;
    color: white;
}
.home-text span{
    color: var(--orange);
}
.home-text button{
    width: max-content;
    border: none;
    border-radius: var(--radius);
    color: var(--orange);
    background: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: all 0.3s;
}
.home-text button:hover{
    background: var(--blue-dark);
    color: var(--orange);
}


/* Hero */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    background: transparent;
    overflow: hidden;
}
.hero-content{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 4em 8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0em;
}
.hero h1{
    position: relative;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1em;
    color: var(--font-clr);
    text-transform: uppercase;
    letter-spacing: 0px;
}
.hero h1 span{
    font-style: italic;
    font-weight: 400;
}
/* .hero h1{
    width: 70%;
    text-align: left;
    position: relative;
    font-size: 112px;
    font-weight: 500;
    line-height: 1em;
    color: var(--blue-dark);
    text-transform: capitalize;
    letter-spacing: 0px;
    font-family: "Noto Serif", serif;
}
.hero h2{
    width: 70%;
    font-weight: 500;
    font-family: "Noto Serif", serif;
    margin: 0;
    font-size: 112px;
    line-height: 0.9em;
    text-align: right;
} */
.hero p{
    width: 50%;
    color: var(--font-clr);
    font-size: 1rem;
    line-height: 1.5em;
    margin: 2em 0;
    font-weight: 400;
    text-align: center;
}
.hero-content > div{
    display: flex;
    align-items: center;
    gap: 1em;
}
.hero-btn{
    position: absolute;
    bottom: 0;
    right: 5em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-chat-btn{
    background: var(--orange);
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    transition: transform 0.3s;
}
.hero-chat-btn:hover{
    background: var(--orng);
}


.home-sections{
    width: 100%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: white;
}
.home-sections h1{
    color: var(--blue-dark);
    font-size: 5.5rem;
    font-weight: 600;
    transform: translateY(100px);
    opacity: 0;
}
.home-sections p{
    text-transform: uppercase;
    width: 50%;
    color: var(--blue-dark);
    margin-bottom: 1em;
    transform: translateY(100px);
    opacity: 0;
}
.section-1, .section-2, .section-3{
    width: 100%;
    height: 100vh;
    background: black;
    background-size: cover;
}

/* Info */
.info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    padding: 4em 8em;
}
.info h1{
    white-space: nowrap;
    line-height: 1em;
    color: black;
    font-size: 3.5rem;
    font-weight: 400;
}
#info-do{
    color: black;
    font-weight: 700;
    font-style: italic;
}
#info-dont{
    color: var(--font-light);
    font-weight: 300;
}
.info p{
    color: var(--font-light);
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.5em;
    align-self: flex-end;
}
.info p span{
    color: var(--blue-dark);
    text-decoration: underline;
}
#info-arrow{
    position: absolute;
    bottom: 0;
    font-size: 5rem;
    animation: moveUpDown 1s infinite alternate;
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px); /* Change the distance of movement as needed */
    }
}


.view-work{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8em;
}


.marquee-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}
.marquee{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.marquee-wrapper span{
    font-size: 5rem;
}


.test{
    width: 100%;
    height: 100vh;
    background: black;
}
.test-content{
    width: 80%;
    height: 100%;
    background: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.test-desc{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.test-desc-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.test-desc-top span{
    color: var(--font-clr);
    font-weight: 500;
    font-size: 1rem;
}
.test-desc h1{
    color: var(--font-clr);
    text-align: left;
    font-size: 9em;
    font-weight: 700;
    letter-spacing: 5px;
}
.test-desc small{
    color: var(--font-clr);
    font-size: 1rem;
    line-height: 1.3em;
}

.test-img{
    width: 100%;
    height: 60%;
    overflow: hidden;
    background: red;
}
.test-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 980px){
    .hero > div{
        justify-content: flex-end;
        padding:  2em 4em;
    }
    .hero h1{
        font-size: 2.5rem;
        line-height: 1.1em;
    }
    .hero p{
        width: 100%;
    }

    .info, .pre-projects{
        padding: 2em 4em;
        justify-content: flex-end;
    }
    .info h1{
        font-size: 3rem;
        line-height: 1em;
        white-space: wrap;
        width: 100%;
    }
    .secondaty-titles{
        font-size: 3rem;
        line-height: 1em;
    }
    .info p{
        width: 100%;
    }

    .view-work{
        padding: 4em 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }

    .marquee-wrapper span{
        font-size: 5rem;
    }
}

@media only screen and (max-width: 480px){
    .hero > div{
        justify-content: center;
        align-items: flex-start;
        padding: 2em 1em;
    }
    .hero h1{
        font-size: 3rem;
        line-height: 1.1em;
        white-space: wrap;
        text-align: left;
    }
    .hero p{
        width: 100%;
        text-align: left;
        font-size: 1.1rem;
    }

    .info, .pre-projects{
        padding: 2em 1em;
        justify-content: flex-end;
    }
    .info h1{
        font-size: 2.5rem;
        line-height: 1em;
        white-space: wrap;
    }
    .secondaty-titles{
        font-size: 3rem;
        line-height: 1em;
    }
    .info p{
        width: 100%;
    }
    .view-work{
        padding: 4em 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }

    .marquee-wrapper span{
        font-size: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    .hero-content{
        padding: 8em;
    }
    .hero h1{
        font-size: 6rem;
    }
    .hero p{
        font-size: 1.5rem;
    }

    .info p{
        font-size: 1.5rem;
    }
}