.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 11;
    background: var(--bg);
    padding-top: 6em;
}



.sidebar-links{
    height: max-content;
    background: var(--blue-dark);
    display: flex;
    flex-direction: column;
}
.sidebar-link{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    cursor: pointer;
    padding: 0.5em 4em;
    background: var(--bg);
    transition: background 0.3s;
    transform-origin: right;
}
.sidebar-link:hover{
    background: var(--blue-dark);
}
.sidebar-link:hover .sidebar-link-p{
    color: white;
}
.sidebar-link-p{
    font-size: 3rem;
    margin: 0;
    color: var(--font-clr);
    font-weight: 500;
    text-transform: uppercase;
}
.sidebar-link span{
    color: var(--font-clr);
}


.sidebar-socials{
    width: 100%;
    height: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 4em;
    background: var(--bg);
}
.sidebar-socials > div{
    display: flex;
    align-items: center;
    gap: 1em;
}
.sidebar-socials p{
    color: black;
    font-weight: 500;
}
.sidebar-socials button{
    background: transparent;
    border: none;
    color: var(--orange);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;
}
.sidebar-socials button:hover{
    transform: scale(1.1);
}
.sidebar-socials-link{
    width: max-content;
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.sidebar-socials-link::after{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transition: transform 0.2s;
}
.sidebar-socials-link:hover::after{
    transform: translateY(3px) scale(0.8);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px){
    .sidebar-link{
        padding: 1em;
    }
    .sidebar-link p{
        font-size: 2rem;
    }
    .sidebar-socials{
        padding: 1em;
    }
}