:root{
  --main-clr: #ffffff;
  --font-clr: #181818;
  --font-clr-white: #ffffff;
  --font-light-white: #e4e4e4;
  --font-light: rgb(60, 60, 60);
  --blue: rgb(12,99,224);
  --blue-dark: #000011;
  --orange: #FFDD00;
  --bg: #fcfcfc;
  --bg-black: #0b0b0b;
  --radius: 5px;
  --prpl: #ff33fc;
  --orng: #FD691C;
  --bl: #0bcaff;
  --grn: #4ec826;
  --div-radius: 35px;
}

*{
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--bg)        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--blue-dark);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid var(--bg);
}

body h1, h2, h3, h4, h5, h6{
  margin: 0;
}

body p, small, span, label{
  margin: 0;
}

.h1-pages{
  font-size: 10rem;
  color: var(--font-clr);
  margin: 0;
  line-height: 0.8em;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.page-type{
  color: var(--font-clr);
  font-size: 80px;
  font-weight: 400;
  line-height: 82px;
  text-transform: uppercase;
}


/* Buttons */
.btn{
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1.5em 2em;
  border-radius: 35px;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  color: #000011;
  text-decoration: none;
  background: rgb(208, 208, 208);
  font-family: 'Raleway', sans-serif;
  white-space: nowrap;
}
.btn-text{
  font-weight: 400;
  position: relative;
  z-index: 2;
  transition: color 0.3s;
}
.btn:hover .btn-text{
  color: var(--blue-dark);
}
.btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  background: var(--orange);
  clip-path: circle(0% at 0 52%);
  transition: 0.3s;
  transform-origin: left;
}
.btn:hover::before{
  clip-path: circle(71.7% at 49% 49%);
}
.btn-icon{
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
}
.btn:hover .btn-icon{
  transform: translateX(5px);
  color: var(--blue-dark);
}

.main-btn{
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: var(--blue-dark);
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 35px;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}
.main-btn-text{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 2;
  transition: color 0.3s;
}
.main-btn:hover .main-btn-text{
  color: var(--blue-dark);
}
.main-btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  background: var(--orange);
  clip-path: circle(0% at 0 50%);
  transition: 0.3s;
  transform-origin: left;
}
.main-btn:hover::before{
  clip-path: circle(71.7% at 50% 50%);
}
.main-btn-icon{
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
  color: var(--orange);
  opacity: 1;
}
.main-btn:hover .main-btn-icon{
  color: var(--blue-dark);
  transform: translateX(5px);
  opacity: 1;
}

.secondary-btn{
  background: transparent;
  border: 1px solid var(--font-light);
  color: var(--font-light);
  border-radius: 35px;
  font-size: 1rem;
  padding: 1em 2em;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.secondary-btn:hover{
  background: white;
}
.secondary-btn-icon{
  transform: translateX(0px);
  transition: transform 0.3s;
}
.secondary-btn:hover .secondary-btn-icon{
  transform: translateX(5px);
}

.secondaty-titles{
  font-size: 5rem;
  font-weight: 500;
  line-height: 0.8em;
  color: var(--blue-dark);
}


.section-label{
  padding: 0.5em 1em;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 12px;
  width: max-content;
}


@media only screen and (max-width: 480px){
  .page-type{
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (min-width: 1440px) {
  .btn, .main-btn, .secondary-btn{
    font-size: 1.2rem;
  }
}