/* Scrolling indicator */
.scroll-call{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4em;
    left: 4em;
    transform: translate(4em, -4em);
    color: var(--font-clr);
    z-index: 20;
    color: var(--dark-blue);
}
.scroll-text{
    position: absolute;
    user-select: none;
    pointer-events: none;
    animation: Rotation 5s linear infinite;

}
@keyframes Rotation{
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.scroll-text em{
    font-size: 1.5rem;
    position: absolute;
    top:-100px;
    text-transform: uppercase;
    display: inline-block;
    transform-origin: 0 100px;
}